<div class="container my-3">
    <div class="card">
        <h2>Aout Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias pariatur reiciendis nostrum blanditiis quos nam corporis eveniet, amet natus dignissimos, corrupti ipsum. Magni excepturi quae sequi sint omnis? Blanditiis ex omnis nobis illum ducimus saepe exercitationem placeat quibusdam ipsa libero similique reiciendis est, officiis deleniti facilis. Praesentium voluptatum natus exercitationem.</p>
    </div>
</div>
