<div class="card ">
    <h6 [ngClass]="{'strike': !todo?.active}">{{todo?.sno}}</h6>
    <h6 [ngClass]="{'strike': !todo?.active}">{{todo?.title}}</h6>
    <h6 [ngClass]="{'strike': !todo?.active}">{{todo?.desc}}</h6>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="onCheckboxClick(todo);">
        <label class="form-check-label" for="exampleCheck1">Done</label>
      </div>
    <button class="btn btn-sm btn-danger" (click)="onClick(todo)">Delete</button>
</div>